<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cnName</key>
		<string>设计本体</string>
		<key>enName</key>
		<string>NOUMENON</string>
		<key>flag</key>
		<string></string>
		<key>list</key>
		<array>
			<dict>
				<key>cnName</key>
				<string>方向研究</string>
				<key>enName</key>
				<string>TREND ANALYSIS</string>
				<key>iconName</key>
				<string>S1408W001</string>
				<key>flag</key>
				<string>3</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>情境故事</string>
				<key>enName</key>
				<string>SCENARIO</string>
				<key>iconName</key>
				<string>S1408W005</string>
				<key>flag</key>
				<string>6</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>影像表达</string>
				<key>enName</key>
				<string>VIDEO VISUALIZATION</string>
				<key>iconName</key>
				<string>S1408W040</string>
				<key>flag</key>
				<string>9</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>需求列表</string>
				<key>enName</key>
				<string>REQUIREMENT CHECKLIST</string>
				<key>iconName</key>
				<string>S1408W007</string>
				<key>flag</key>
				<string>12</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>流程图</string>
				<key>enName</key>
				<string>FLOW CHART</string>
				<key>iconName</key>
				<string>S1408W010</string>
				<key>flag</key>
				<string>16</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>功能剖析</string>
				<key>enName</key>
				<string>FUNCTION ANALYSIS</string>
				<key>iconName</key>
				<string>S1408W013</string>
				<key>flag</key>
				<string>18</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>问题定义</string>
				<key>enName</key>
				<string>PROBLEM DEFINITION</string>
				<key>iconName</key>
				<string>S1408W020</string>
				<key>flag</key>
				<string>24</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>概念图表</string>
				<key>enName</key>
				<string>CONCEPT DIAGRAMS</string>
				<key>iconName</key>
				<string>S1408W017</string>
				<key>flag</key>
				<string>31</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>形态图表</string>
				<key>enName</key>
				<string>MORPHOLOGICAL CHART</string>
				<key>iconName</key>
				<string>S1408W025</string>
				<key>flag</key>
				<string>32</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>战略评估</string>
				<key>enName</key>
				<string>STRATEGIC EVALUATION</string>
				<key>iconName</key>
				<string>S1408W026</string>
				<key>flag</key>
				<string>33</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>生态需求列表</string>
				<key>enName</key>
				<string>ECO-DEMAND LIST</string>
				<key>iconName</key>
				<string>S1408W027</string>
				<key>flag</key>
				<string>35</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>思维导图</string>
				<key>enName</key>
				<string>MIND MAP</string>
				<key>iconName</key>
				<string>S1408W032</string>
				<key>flag</key>
				<string>40</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>可持续设计</string>
				<key>enName</key>
				<string>SUSTAINABLE DESIGN</string>
				<key>iconName</key>
				<string>S1408W044</string>
				<key>flag</key>
				<string>46</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>草图分析</string>
				<key>enName</key>
				<string>SKETCHING ANALYSIS</string>
				<key>iconName</key>
				<string>S1408W045</string>
				<key>flag</key>
				<string></string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>战略评估</string>
				<key>enName</key>
				<string>STRATEGIC EVALUATION</string>
				<key>iconName</key>
				<string>S1408W024</string>
				<key>flag</key>
				<string>34</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cnName</key>
		<string>支持设计</string>
		<key>enName</key>
		<string>FOUNDATION</string>
		<key>flag</key>
		<string></string>
		<key>list</key>
		<array>
			<dict>
				<key>cnName</key>
				<string>情境地图</string>
				<key>enName</key>
				<string>CONTEXT MAPPING</string>
				<key>iconName</key>
				<string>S1408W002</string>
				<key>flag</key>
				<string>2</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>方向研究</string>
				<key>enName</key>
				<string>TREND ANALYSIS</string>
				<key>iconName</key>
				<string>S1408W001</string>
				<key>flag</key>
				<string>3</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>逐条反馈和PMI</string>
				<key>enName</key>
				<string>ITEMIZED RESPONSE &amp; PMI</string>
				<key>iconName</key>
				<string>S1408W004</string>
				<key>flag</key>
				<string>5</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>逐条反馈和PMI</string>
				<key>enName</key>
				<string>ITEMIZED RESPONSE &amp; PMI</string>
				<key>iconName</key>
				<string>S1408W012</string>
				<key>flag</key>
				<string>8</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>情境故事</string>
				<key>enName</key>
				<string>SCENARIO</string>
				<key>iconName</key>
				<string>S1408W005</string>
				<key>flag</key>
				<string>6</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>影像表达</string>
				<key>enName</key>
				<string>VIDEO VISUALIZATION</string>
				<key>iconName</key>
				<string>S1408W040</string>
				<key>flag</key>
				<string>9</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>师法自然</string>
				<key>enName</key>
				<string>INSPIRED BY NATURE</string>
				<key>iconName</key>
				<string>S1408W006</string>
				<key>flag</key>
				<string>10</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>师法自然</string>
				<key>enName</key>
				<string>INSPIRED BY NATURE</string>
				<key>iconName</key>
				<string>S1408W015</string>
				<key>flag</key>
				<string>11</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>需求列表</string>
				<key>enName</key>
				<string>REQUIREMENT CHECKLIST</string>
				<key>iconName</key>
				<string>S1408W007</string>
				<key>flag</key>
				<string>12</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>元素重组</string>
				<key>enName</key>
				<string>ELEMENTS RESTRUCTURING</string>
				<key>iconName</key>
				<string>S1408W008</string>
				<key>flag</key>
				<string>13</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>四格矩阵</string>
				<key>enName</key>
				<string>C-BOX</string>
				<key>iconName</key>
				<string>S1408W043</string>
				<key>flag</key>
				<string>15</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>四格矩阵</string>
				<key>enName</key>
				<string>C-BOX</string>
				<key>iconName</key>
				<string>S1408W009</string>
				<key>flag</key>
				<string>14</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>流程图</string>
				<key>enName</key>
				<string>FLOW CHART</string>
				<key>iconName</key>
				<string>S1408W010</string>
				<key>flag</key>
				<string>16</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>标准辅助</string>
				<key>enName</key>
				<string>DESIGN SPECIFICATION</string>
				<key>iconName</key>
				<string>S1408W011</string>
				<key>flag</key>
				<string>17</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>功能剖析</string>
				<key>enName</key>
				<string>FUNCTION ANALYSIS</string>
				<key>iconName</key>
				<string>S1408W013</string>
				<key>flag</key>
				<string>18</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>三因素评估法</string>
				<key>enName</key>
				<string>THREE ELEMENTS ASSESSMENT</string>
				<key>iconName</key>
				<string>S1408W014</string>
				<key>flag</key>
				<string>19</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>概念图表</string>
				<key>enName</key>
				<string>CONCEPT DIAGRAMS</string>
				<key>iconName</key>
				<string>S1408W019</string>
				<key>flag</key>
				<string>20</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>概念图表</string>
				<key>enName</key>
				<string>CONCEPT DIAGRAMS</string>
				<key>iconName</key>
				<string>S1408W016</string>
				<key>flag</key>
				<string>21</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>快速反复测试与评估</string>
				<key>enName</key>
				<string>RITE</string>
				<key>iconName</key>
				<string>S1408W018</string>
				<key>flag</key>
				<string>22</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>快速反复测试与评估</string>
				<key>enName</key>
				<string>RITE</string>
				<key>iconName</key>
				<string>S1408W039</string>
				<key>flag</key>
				<string>23</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>问题定义</string>
				<key>enName</key>
				<string>PROBLEM DEFINITION</string>
				<key>iconName</key>
				<string>S1408W020</string>
				<key>flag</key>
				<string>24</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>情境地图</string>
				<key>enName</key>
				<string>CONTEXT MAPPING</string>
				<key>iconName</key>
				<string>S1408W037</string>
				<key>flag</key>
				<string>27</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>情境地图</string>
				<key>enName</key>
				<string>CONTEXT MAPPING</string>
				<key>iconName</key>
				<string>S1408W022</string>
				<key>flag</key>
				<string>28</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>基准定位法</string>
				<key>enName</key>
				<string>DATUM METHOD</string>
				<key>iconName</key>
				<string>S1408W023</string>
				<key>flag</key>
				<string>29</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>故事版</string>
				<key>enName</key>
				<string>STORYBOARD</string>
				<key>iconName</key>
				<string>S1408W003</string>
				<key>flag</key>
				<string>4</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>概念图表</string>
				<key>enName</key>
				<string>CONCEPT DIAGRAMS</string>
				<key>iconName</key>
				<string>S1408W017</string>
				<key>flag</key>
				<string>31</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>战略评估</string>
				<key>enName</key>
				<string>STRATEGIC EVALUATION</string>
				<key>iconName</key>
				<string>S1408W026</string>
				<key>flag</key>
				<string>33</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>生态需求列表</string>
				<key>enName</key>
				<string>ECO-DEMAND LIST</string>
				<key>iconName</key>
				<string>S1408W027</string>
				<key>flag</key>
				<string>35</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>图片拼贴</string>
				<key>enName</key>
				<string>PIC-COLLAGE</string>
				<key>iconName</key>
				<string>S1408W028</string>
				<key>flag</key>
				<string>36</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>角色尝试</string>
				<key>enName</key>
				<string>ROLE PLAYING</string>
				<key>iconName</key>
				<string>S1408W029</string>
				<key>flag</key>
				<string>37</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>H2</string>
				<key>enName</key>
				<string>HOW-TO</string>
				<key>iconName</key>
				<string>S1408W030</string>
				<key>flag</key>
				<string>38</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>3D建模</string>
				<key>enName</key>
				<string>THREE-DIMENSION MODELING</string>
				<key>iconName</key>
				<string>S1408W031</string>
				<key>flag</key>
				<string>39</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>思维导图</string>
				<key>enName</key>
				<string>MIND MAP</string>
				<key>iconName</key>
				<string>S1408W032</string>
				<key>flag</key>
				<string>40</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>哈里斯图表</string>
				<key>enName</key>
				<string>HARRIS PROFILE</string>
				<key>iconName</key>
				<string>S1408W033</string>
				<key>flag</key>
				<string>41</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>哈里斯图表</string>
				<key>enName</key>
				<string>HARRIS PROFILE</string>
				<key>iconName</key>
				<string>S1408W041</string>
				<key>flag</key>
				<string>42</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>权重表格</string>
				<key>enName</key>
				<string>WEIGHTED FORM</string>
				<key>iconName</key>
				<string>S1408W035</string>
				<key>flag</key>
				<string>43</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>权重表格</string>
				<key>enName</key>
				<string>WEIGHTED FORM</string>
				<key>iconName</key>
				<string>S1408W038</string>
				<key>flag</key>
				<string>44</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>头脑风暴</string>
				<key>enName</key>
				<string>BRAINSTORMING</string>
				<key>iconName</key>
				<string>S1408W042</string>
				<key>flag</key>
				<string></string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>基准定位法</string>
				<key>enName</key>
				<string>DATUM METHOD</string>
				<key>iconName</key>
				<string>S1408W046</string>
				<key>flag</key>
				<string>30</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
