<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cnName</key>
		<string>设计师</string>
		<key>enName</key>
		<string>DESIGNER</string>
		<key>flag</key>
		<string></string>
		<key>list</key>
		<array/>
	</dict>
	<dict>
		<key>cnName</key>
		<string>用户</string>
		<key>enName</key>
		<string>USER</string>
		<key>flag</key>
		<string></string>
		<key>list</key>
		<array>
			<dict>
				<key>cnName</key>
				<string>口语分析</string>
				<key>iconName</key>
				<string>method47</string>
				<key>flag</key>
				<string>2</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>卡片分类</string>
				<key>iconName</key>
				<string>method06</string>
				<key>flag</key>
				<string>77</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>流程图</string>
				<key>iconName</key>
				<string>method30</string>
				<key>flag</key>
				<string>78</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>情境地图</string>
				<key>iconName</key>
				<string>method14</string>
				<key>flag</key>
				<string>81</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>思维导图</string>
				<key>iconName</key>
				<string>method40</string>
				<key>flag</key>
				<string>58</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>人物原型</string>
				<key>iconName</key>
				<string>method44</string>
				<key>flag</key>
				<string>42</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>情景故事</string>
				<key>iconName</key>
				<string>method53</string>
				<key>flag</key>
				<string>43</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>5W1H</string>
				<key>iconName</key>
				<string>method02</string>
				<key>flag</key>
				<string>22</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>角色尝试</string>
				<key>iconName</key>
				<string>method52</string>
				<key>flag</key>
				<string>31</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>脉络设计</string>
				<key>iconName</key>
				<string>method15</string>
				<key>flag</key>
				<string>61</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>导向型叙述</string>
				<key>iconName</key>
				<string>method21</string>
				<key>flag</key>
				<string>62</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>人体工程学研究</string>
				<key>iconName</key>
				<string>method24</string>
				<key>flag</key>
				<string>63</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>评估性研究</string>
				<key>iconName</key>
				<string>method25</string>
				<key>flag</key>
				<string>70</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>体验原型</string>
				<key>iconName</key>
				<string>method26</string>
				<key>flag</key>
				<string>71</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>实验</string>
				<key>iconName</key>
				<string>method27</string>
				<key>flag</key>
				<string>72</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>眼动分析</string>
				<key>iconName</key>
				<string>method28</string>
				<key>flag</key>
				<string>5</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>反馈壁纸</string>
				<key>iconName</key>
				<string>method29</string>
				<key>flag</key>
				<string>7</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>参与式设计</string>
				<key>iconName</key>
				<string>method43</string>
				<key>flag</key>
				<string>11</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>快速反复设计与评估</string>
				<key>iconName</key>
				<string>method51</string>
				<key>flag</key>
				<string>6</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>语义空间</string>
				<key>iconName</key>
				<string>method54</string>
				<key>flag</key>
				<string>12</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>利益相关者分析</string>
				<key>iconName</key>
				<string>method56</string>
				<key>flag</key>
				<string>14</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>三角对比</string>
				<key>iconName</key>
				<string>method65</string>
				<key>flag</key>
				<string>15</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>客观测量</string>
				<key>iconName</key>
				<string>method66</string>
				<key>flag</key>
				<string>16</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>元素重组</string>
				<key>iconName</key>
				<string>method23</string>
				<key>flag</key>
				<string>18</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cnName</key>
		<string>产品</string>
		<key>enName</key>
		<string>PRODUCT</string>
		<key>flag</key>
		<string></string>
		<key>list</key>
		<array>
			<dict>
				<key>cnName</key>
				<string>情绪版</string>
				<key>iconName</key>
				<string>method41</string>
				<key>flag</key>
				<string>73</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>故事版</string>
				<key>iconName</key>
				<string>method57</string>
				<key>flag</key>
				<string>74</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>卡片分类</string>
				<key>iconName</key>
				<string>method06</string>
				<key>flag</key>
				<string>77</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>流程图</string>
				<key>iconName</key>
				<string>method30</string>
				<key>flag</key>
				<string>78</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>情境地图</string>
				<key>iconName</key>
				<string>method14</string>
				<key>flag</key>
				<string>81</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>思维导图</string>
				<key>iconName</key>
				<string>method40</string>
				<key>flag</key>
				<string>58</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>功能剖析</string>
				<key>iconName</key>
				<string>method32</string>
				<key>flag</key>
				<string>37</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>生态需求列表</string>
				<key>iconName</key>
				<string>method22</string>
				<key>flag</key>
				<string>38</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>生命周期分析</string>
				<key>iconName</key>
				<string>method38</string>
				<key>flag</key>
				<string>39</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>态势分析</string>
				<key>iconName</key>
				<string>method60</string>
				<key>flag</key>
				<string>40</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>问题定义</string>
				<key>iconName</key>
				<string>method46</string>
				<key>flag</key>
				<string>44</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>需求列表</string>
				<key>iconName</key>
				<string>method50</string>
				<key>flag</key>
				<string>45</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>概念图表</string>
				<key>iconName</key>
				<string>method12</string>
				<key>flag</key>
				<string>46</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>形态图表</string>
				<key>iconName</key>
				<string>method42</string>
				<key>flag</key>
				<string>21</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>H2</string>
				<key>iconName</key>
				<string>method33</string>
				<key>flag</key>
				<string>23</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>四格矩阵</string>
				<key>iconName</key>
				<string>method08</string>
				<key>flag</key>
				<string>24</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>逐条反馈</string>
				<key>iconName</key>
				<string>method45</string>
				<key>flag</key>
				<string>25</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>基准定位法</string>
				<key>iconName</key>
				<string>method17</string>
				<key>flag</key>
				<string>26</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>三因素评估法</string>
				<key>iconName</key>
				<string>method63</string>
				<key>flag</key>
				<string>27</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>权重列表</string>
				<key>iconName</key>
				<string>method70</string>
				<key>flag</key>
				<string>28</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>哈里斯图表</string>
				<key>iconName</key>
				<string>method34</string>
				<key>flag</key>
				<string>29</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>可用性评估</string>
				<key>iconName</key>
				<string>method67</string>
				<key>flag</key>
				<string>30</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>角色尝试</string>
				<key>iconName</key>
				<string>method52</string>
				<key>flag</key>
				<string>31</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>技术文本</string>
				<key>iconName</key>
				<string>method62</string>
				<key>flag</key>
				<string>32</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>3D建模</string>
				<key>iconName</key>
				<string>method01</string>
				<key>flag</key>
				<string>64</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>A/B测试</string>
				<key>iconName</key>
				<string>method03</string>
				<key>flag</key>
				<string>65</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>脉络设计</string>
				<key>iconName</key>
				<string>method15</string>
				<key>flag</key>
				<string>61</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>导向型叙述</string>
				<key>iconName</key>
				<string>method21</string>
				<key>flag</key>
				<string>62</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>人体工程学研究</string>
				<key>iconName</key>
				<string>method24</string>
				<key>flag</key>
				<string>63</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>评估性研究</string>
				<key>iconName</key>
				<string>method25</string>
				<key>flag</key>
				<string>70</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>体验原型</string>
				<key>iconName</key>
				<string>method26</string>
				<key>flag</key>
				<string>71</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>实验</string>
				<key>iconName</key>
				<string>method27</string>
				<key>flag</key>
				<string>72</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>眼动分析</string>
				<key>iconName</key>
				<string>method28</string>
				<key>flag</key>
				<string>5</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>反馈壁纸</string>
				<key>iconName</key>
				<string>method29</string>
				<key>flag</key>
				<string>7</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>师法自然</string>
				<key>iconName</key>
				<string>method35</string>
				<key>flag</key>
				<string>9</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>参与式设计</string>
				<key>iconName</key>
				<string>method43</string>
				<key>flag</key>
				<string>11</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>快速反复测试与评估</string>
				<key>iconName</key>
				<string>method51</string>
				<key>flag</key>
				<string>6</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>影像表达</string>
				<key>iconName</key>
				<string>method69</string>
				<key>flag</key>
				<string>13</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>三角对比</string>
				<key>iconName</key>
				<string>method65</string>
				<key>flag</key>
				<string>15</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>元素重组</string>
				<key>iconName</key>
				<string>method23</string>
				<key>flag</key>
				<string>18</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cnName</key>
		<string>历史</string>
		<key>enName</key>
		<string>HISTORY</string>
		<key>flag</key>
		<string></string>
		<key>list</key>
		<array>
			<dict>
				<key>cnName</key>
				<string>文献综述</string>
				<key>iconName</key>
				<string>method39</string>
				<key>flag</key>
				<string>10</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>桌面研究</string>
				<key>iconName</key>
				<string>method19</string>
				<key>flag</key>
				<string>17</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cnName</key>
		<string>服务</string>
		<key>enName</key>
		<string>SERVICE</string>
		<key>flag</key>
		<string></string>
		<key>list</key>
		<array>
			<dict>
				<key>cnName</key>
				<string>故事版</string>
				<key>iconName</key>
				<string>method57</string>
				<key>flag</key>
				<string>74</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>卡片分类</string>
				<key>iconName</key>
				<string>method06</string>
				<key>flag</key>
				<string>77</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>流程图</string>
				<key>iconName</key>
				<string>method30</string>
				<key>flag</key>
				<string>78</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>情景地图</string>
				<key>iconName</key>
				<string>method14</string>
				<key>flag</key>
				<string>81</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>思维导图</string>
				<key>iconName</key>
				<string>method40</string>
				<key>flag</key>
				<string>58</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>功能剖析</string>
				<key>iconName</key>
				<string>method32</string>
				<key>flag</key>
				<string>37</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>生态需求列表</string>
				<key>iconName</key>
				<string>method22</string>
				<key>flag</key>
				<string>38</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>生命周期分析</string>
				<key>iconName</key>
				<string>method38</string>
				<key>flag</key>
				<string>39</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>态势分析</string>
				<key>iconName</key>
				<string>method60</string>
				<key>flag</key>
				<string>40</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>问题定义</string>
				<key>iconName</key>
				<string>method46</string>
				<key>flag</key>
				<string>44</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>概念图表</string>
				<key>iconName</key>
				<string>method12</string>
				<key>flag</key>
				<string>46</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>H2</string>
				<key>iconName</key>
				<string>method33</string>
				<key>flag</key>
				<string>23</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>四格矩阵</string>
				<key>iconName</key>
				<string>method08</string>
				<key>flag</key>
				<string>24</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>逐条反馈</string>
				<key>iconName</key>
				<string>method45</string>
				<key>flag</key>
				<string>25</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>基准定位法</string>
				<key>iconName</key>
				<string>method17</string>
				<key>flag</key>
				<string>26</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>三因素评估法</string>
				<key>iconName</key>
				<string>method63</string>
				<key>flag</key>
				<string>27</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>权重列表</string>
				<key>iconName</key>
				<string>method70</string>
				<key>flag</key>
				<string>28</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>哈里斯图表</string>
				<key>iconName</key>
				<string>method34</string>
				<key>flag</key>
				<string>29</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>可用性评估</string>
				<key>iconName</key>
				<string>method67</string>
				<key>flag</key>
				<string>30</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>角色尝试</string>
				<key>iconName</key>
				<string>method52</string>
				<key>flag</key>
				<string>31</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>体验原型</string>
				<key>iconName</key>
				<string>method26</string>
				<key>flag</key>
				<string>71</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>实验</string>
				<key>iconName</key>
				<string>method27</string>
				<key>flag</key>
				<string>72</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>眼动分析</string>
				<key>iconName</key>
				<string>method28</string>
				<key>flag</key>
				<string>5</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>反馈壁纸</string>
				<key>iconName</key>
				<string>method29</string>
				<key>flag</key>
				<string>7</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>参与式设计</string>
				<key>iconName</key>
				<string>method43</string>
				<key>flag</key>
				<string>11</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>影像表达</string>
				<key>iconName</key>
				<string>method69</string>
				<key>flag</key>
				<string>13</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>三角对比</string>
				<key>iconName</key>
				<string>method65</string>
				<key>flag</key>
				<string>15</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cnName</key>
		<string>界面</string>
		<key>enName</key>
		<string>INTERFACE</string>
		<key>flag</key>
		<string></string>
		<key>list</key>
		<array>
			<dict>
				<key>cnName</key>
				<string>卡片分类</string>
				<key>iconName</key>
				<string>method06</string>
				<key>flag</key>
				<string>77</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>流程图</string>
				<key>iconName</key>
				<string>method30</string>
				<key>flag</key>
				<string>78</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>思维导图</string>
				<key>iconName</key>
				<string>method40</string>
				<key>flag</key>
				<string>58</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>生命周期分析</string>
				<key>iconName</key>
				<string>method38</string>
				<key>flag</key>
				<string>39</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>态势分析</string>
				<key>iconName</key>
				<string>method60</string>
				<key>flag</key>
				<string>40</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>概念图表</string>
				<key>iconName</key>
				<string>method12</string>
				<key>flag</key>
				<string>46</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>H2</string>
				<key>iconName</key>
				<string>method33</string>
				<key>flag</key>
				<string>23</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>反馈壁纸</string>
				<key>iconName</key>
				<string>method29</string>
				<key>flag</key>
				<string>7</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>影像表达</string>
				<key>iconName</key>
				<string>method69</string>
				<key>flag</key>
				<string>13</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>三角对比</string>
				<key>iconName</key>
				<string>method65</string>
				<key>flag</key>
				<string>15</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cnName</key>
		<string>教育</string>
		<key>enName</key>
		<string>EDUCATION</string>
		<key>flag</key>
		<string></string>
		<key>list</key>
		<array>
			<dict>
				<key>cnName</key>
				<string>口语分析</string>
				<key>iconName</key>
				<string>method47</string>
				<key>flag</key>
				<string>2</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>导向型叙述</string>
				<key>iconName</key>
				<string>method21</string>
				<key>flag</key>
				<string>62</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>眼动分析</string>
				<key>iconName</key>
				<string>method28</string>
				<key>flag</key>
				<string>5</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cnName</key>
		<string>工具</string>
		<key>enName</key>
		<string>TOOLS</string>
		<key>flag</key>
		<string></string>
		<key>list</key>
		<array>
			<dict>
				<key>cnName</key>
				<string>图片拼贴</string>
				<key>iconName</key>
				<string>method10</string>
				<key>flag</key>
				<string>41</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>需求列表</string>
				<key>iconName</key>
				<string>method50</string>
				<key>flag</key>
				<string>45</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>头脑风暴</string>
				<key>iconName</key>
				<string>method05</string>
				<key>flag</key>
				<string>20</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>基准定位法</string>
				<key>iconName</key>
				<string>method17</string>
				<key>flag</key>
				<string>26</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>三因素评估法</string>
				<key>iconName</key>
				<string>method63</string>
				<key>flag</key>
				<string>27</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>权重列表</string>
				<key>iconName</key>
				<string>method70</string>
				<key>flag</key>
				<string>28</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>哈里斯图表</string>
				<key>iconName</key>
				<string>method34</string>
				<key>flag</key>
				<string>29</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>可用性评估</string>
				<key>iconName</key>
				<string>method67</string>
				<key>flag</key>
				<string>30</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>感知图</string>
				<key>iconName</key>
				<string>method09</string>
				<key>flag</key>
				<string>69</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>内容验订</string>
				<key>iconName</key>
				<string>method13</string>
				<key>flag</key>
				<string>60</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>KJ法</string>
				<key>iconName</key>
				<string>method37</string>
				<key>flag</key>
				<string>8</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>图片拼贴</string>
				<key>iconName</key>
				<string>method10</string>
				<key>flag</key>
				<string>41</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>需求列表</string>
				<key>iconName</key>
				<string>method50</string>
				<key>flag</key>
				<string>45</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>类比法</string>
				<key>iconName</key>
				<string>method61</string>
				<key>flag</key>
				<string>19</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>权重列表</string>
				<key>iconName</key>
				<string>method70</string>
				<key>flag</key>
				<string>28</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>可用性评估</string>
				<key>iconName</key>
				<string>method67</string>
				<key>flag</key>
				<string>30</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>感知图</string>
				<key>iconName</key>
				<string>method09</string>
				<key>flag</key>
				<string>69</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cnName</key>
		<string>通用</string>
		<key>enName</key>
		<string>GENERAL</string>
		<key>flag</key>
		<string></string>
		<key>list</key>
		<array>
			<dict>
				<key>cnName</key>
				<string>问卷</string>
				<key>iconName</key>
				<string>method48</string>
				<key>flag</key>
				<string>75</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>访谈</string>
				<key>iconName</key>
				<string>method36</string>
				<key>flag</key>
				<string>76</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>可持续设计</string>
				<key>iconName</key>
				<string>method59</string>
				<key>flag</key>
				<string>80</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>文化探究</string>
				<key>iconName</key>
				<string>method16</string>
				<key>flag</key>
				<string>82</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>用户追踪</string>
				<key>iconName</key>
				<string>method68</string>
				<key>flag</key>
				<string>83</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>日志法</string>
				<key>iconName</key>
				<string>method20</string>
				<key>flag</key>
				<string>84</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>小组访谈</string>
				<key>iconName</key>
				<string>method31</string>
				<key>flag</key>
				<string>33</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>战略评估</string>
				<key>iconName</key>
				<string>method58</string>
				<key>flag</key>
				<string>35</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>方向研究</string>
				<key>iconName</key>
				<string>method64</string>
				<key>flag</key>
				<string>36</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>AEIOU</string>
				<key>iconName</key>
				<string>method04</string>
				<key>flag</key>
				<string>66</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>远端监测</string>
				<key>iconName</key>
				<string>method49</string>
				<key>flag</key>
				<string>67</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>个案研究</string>
				<key>iconName</key>
				<string>method07</string>
				<key>flag</key>
				<string>68</string>
			</dict>
			<dict>
				<key>cnName</key>
				<string>竞品分析</string>
				<key>iconName</key>
				<string>method11</string>
				<key>flag</key>
				<string>59</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
